.card
{
  width:100%;
  max-width:250px;
  margin-bottom:70px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius:5px;
}

.color-content
{
  height:222px;
  /* background:#FF6363; */
}


.text-content
{
  display:flex;
  flex-direction:column;
}

.text-content h1
{
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  text-align:justify;
  color: #2B2B2B;
  padding:25px 28px;
}

.text-content p
{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  display: flex;
  align-items: center;

  color: #555555;
  padding:0 28px 30px;
}